<html>
<head></head>
<body>
	<!--<form action="http://test.ngrok.fanxquer.top:60/rest/auth">
		用户名：
		<input type="text" name="username"></br>
        密码：
		<input type="text" name="password"></br>
		<img src="http://test.ngrok.fanxquer.top:60/captcha.jpg"></br>
		验证码：
		<input type="text" name="code">
		<input type="submit" value="提交">
	</form>-->

	<form action="../excelImport" method="post" enctype="multipart/form-data">
		<input type="file" name="uploadFile" />
		<input type="submit" value="上传文件" />
	</form>

</body>
</html>